<p>signup works!</p>
<div class="signup-container">
        <div class="logo-kland mb-4">
            K<span style="font-size: 0.6em; position: relative; top: -0.2em; left: -0.05em; letter-spacing: -1px; display: inline-block;">LAND</span>
        </div>

        <h4 class="form-title">CREATE YOUR ACCOUNT</h4>

        <form>
            <div class="mb-3">
                <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="mb-3 input-group-password">
                <input type="password" class="form-control" id="password" placeholder="Password">
                <i class="bi bi-eye-slash-fill" id="togglePassword"></i>
            </div>
            <div class="mb-3 input-group-password">
                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
                <i class="bi bi-eye-slash-fill" id="toggleConfirmPassword"></i>
            </div>
            <button type="submit" class="btn btn-primary btn-signup">Sign Up</button>
        </form>

        <p class="login-text">Already have an account? <a href="#">Login</a></p>
    </div>
